@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

:root {
    --color-text: #EEF2FF;
    --color-background: #1F0322;
    --color-primary: #E988F3;
    --color-secondary: #9B0F4F;
    --color-accent: #EB344E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Inter';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 4.210rem;
}

h2 {
    font-size: 3.158rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.750rem;
}